<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681897836203-mj9o14ero2ahjlicmielfe7orh3eveae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681897836203-mj9o14ero2ahjlicmielfe7orh3eveae</string>
	<key>API_KEY</key>
	<string>AIzaSyBQezq99bU8cwU7uXc0sSmxqKGcg-IQrrs</string>
	<key>GCM_SENDER_ID</key>
	<string>681897836203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Celan.TCAWorkshop</string>
	<key>PROJECT_ID</key>
	<string>meetingjoah</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingjoah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681897836203:ios:1b04d2f2fdb8cfa87c81ee</string>
</dict>
</plist>